<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nirzhar.tourmate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name=".SignUp" />
        <activity android:name=".MapsActivity" />
        <activity android:name=".TravelHome">
        </activity>
        <activity
            android:name=".WeatherActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".DetailsData"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".EventActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".EventDetailsActivity" />
        <activity android:name=".EventProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ExpenseActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ExpenseProfileActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".ExpenseDetailsActivity"></activity>
    </application>

</manifest>